
WindowsFormsApp1/bin/
WindowsFormsApp1/obj/
packages
BackgroundAPIRest/bin/
BackgroundAPIRest/obj/
MinimalAPI/bin/
MinimalAPI/obj/
Business.Main/obj/
Business.Main/bin/
CoreAccesLayer/obj/
CoreAccesLayer/bin/
Domain.Main/obj/
Domain.Main/bin/
NUnitBusinessMain/obj/
NUnitBusinessMain/bin/
PlumbingProps/obj/
PlumbingProps/bin/
/.vs