
WindowsFormsApp1/bin/
WindowsFormsApp1/obj/
packages
BackgroundAPIRest/bin/
BackgroundAPIRest/obj/
Business.Main/obj/
Business.Main/bin/
CoreAccesLayer/obj/
CoreAccesLayer/bin/
Domain.Main/obj/
Domain.Main/bin/
NUnitBusinessMain/obj/
NUnitBusinessMain/bin/
PlumbingProps/obj/
PlumbingProps/bin/
.vs/BackgroundCore/
/.vs
.vs/BackgroundCore/
.vs/BackgroundCore/v17/.suo
.vs/BackgroundCore/v17/.suo
.vs/BackgroundCore/v17/.suo
.vs/BackgroundCore/v17/.suo
.vs/BackgroundCore/v17/.suo
Business.Main/DataMappingMicroVenta/GamaFacContext.cs
.vs/BackgroundCore/v17/.suo
Business.Main/DataMappingMicroVenta/GamaFacContext.cs
.vs/BackgroundCore/v17/.suo
.vs/BackgroundCore/v17/.suo
.vs/BackgroundCore/v17/.suo
.vs/BackgroundCore/v17/.futdcache.v1
.vs/BackgroundCore/DesignTimeBuild/.dtbcache.v2
.vs/BackgroundCore/v17/.suo
.vs/BackgroundCore/v17/.suo
.vs/BackgroundCore/v17/.suo
.vs/BackgroundCore/v17/.suo
.vs/BackgroundCore/v17/.suo
