<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
	</configSections>
	<appSettings>
		<add key="token_impuestos" value="eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJHYW1hdGVrIiwiY29kaWdvU2lzdGVtYSI6IjZEMjYwRTJFRkFGMzVEQzgxNzlGRDJGIiwibml0IjoiSDRzSUFBQUFBQUFBQURNeE1EU3dzTFF3TURRQkFMbmxvdjhLQUFBQSIsImlkIjozMDE0NDg0LCJleHAiOjE2NjcyNjA4MDAsImlhdCI6MTYzNzg4ODExNiwibml0RGVsZWdhZG8iOjQwMTA4OTgwMTQsInN1YnNpc3RlbWEiOiJTRkUifQ.KNyQR0FAiVFSCt4PS2X_RNiYuDBKB01ujir-u_xqsu0E58Qh1dQ7OiyFznLHgPW1GyN2a6R6pC2lKZXtbwe-EQ"/>
		<add key="NIT" value=""/>
		<add key="CodigoAmbiente" value=""/>
		<add key="Modalidad" value=""/>
		<add key="CodigoSistema" value=""/>
		<add key="CodigoSucursal" value=""/>
		<add key="PuntoDeVenta" value=""/>
		<add key="PuntoDeVentaEspecificado" value=""/>
	</appSettings>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
	</startup>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="ServicioFacturacionSincronizacionSoapBinding">
					<security mode="Transport"/>
				</binding>
				<binding name="ServicioFacturacionSincronizacionSoapBinding1"/>
				<binding name="ServicioFacturacionCodigosSoapBinding">
					<security mode="Transport"/>
				</binding>
				<binding name="ServicioFacturacionCodigosSoapBinding1"/>
				<binding name="SignDocumentSoapBinding"/>
				<binding name="ServicioFacturacionOperacionesSoapBinding">
					<security mode="Transport"/>
				</binding>
				<binding name="ServicioFacturacionOperacionesSoapBinding1"/>
				<binding name="ServicioFacturacionSoapBinding">
					<security mode="Transport"/>
				</binding>
				<binding name="ServicioFacturacionSoapBinding1"/>
				<binding name="ServicioFacturacionSoapBinding2">
					<security mode="Transport"/>
				</binding>
				<binding name="ServicioFacturacionSoapBinding3"/>
				<binding name="ServicioFacturacionSoapBinding4">
					<security mode="Transport"/>
				</binding>
				<binding name="ServicioFacturacionSoapBinding5"/>
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="https://pilotosiatservicios.impuestos.gob.bo/v2/FacturacionCodigos" binding="basicHttpBinding" bindingConfiguration="ServicioFacturacionCodigosSoapBinding" contract="FacturacionCodigos.ServicioFacturacionCodigos" name="ServicioFacturacionCodigosPort"/>
			<endpoint address="https://pilotosiatservicios.impuestos.gob.bo/v2/FacturacionSincronizacion" binding="basicHttpBinding" bindingConfiguration="ServicioFacturacionSincronizacionSoapBinding" contract="ServiceReference1.ServicioFacturacionSincronizacion" name="ServicioFacturacionSincronizacionPort"/>
			<endpoint address="http://192.168.165.25:8080/ProdemSign.Services/SignDocument" binding="basicHttpBinding" bindingConfiguration="SignDocumentSoapBinding" contract="FirmaDigital.SignDocument" name="SignDocumentPort"/>
			<endpoint address="https://pilotosiatservicios.impuestos.gob.bo/v2/FacturacionOperaciones" binding="basicHttpBinding" bindingConfiguration="ServicioFacturacionOperacionesSoapBinding" contract="FacturacionOperaciones.ServicioFacturacionOperaciones" name="ServicioFacturacionOperacionesPort"/>
			<endpoint address="https://pilotosiatservicios.impuestos.gob.bo/v2/ServicioFacturacionEntidadFinanciera" binding="basicHttpBinding" bindingConfiguration="ServicioFacturacionSoapBinding" contract="FacturacionEntidadFinanciera.ServicioFacturacion" name="ServicioFacturacionPort"/>
			<endpoint address="https://pilotosiatservicios.impuestos.gob.bo/v2/ServicioFacturacionElectronica" binding="basicHttpBinding" bindingConfiguration="ServicioFacturacionSoapBinding2" contract="FacturacionElectronica.ServicioFacturacion" name="ServicioFacturacionPort1"/>
			<endpoint address="https://pilotosiatservicios.impuestos.gob.bo/v2/ServicioFacturacionCompraVenta" binding="basicHttpBinding" bindingConfiguration="ServicioFacturacionSoapBinding4" contract="FacturacionCompraVenta.ServicioFacturacion" name="ServicioFacturacionPort2"/>
		</client>
	</system.serviceModel>
	<connectionStrings>
		<add name="SIN_BDEntities" connectionString="metadata=res://*/Data.SIN_BD.csdl|res://*/Data.SIN_BD.ssdl|res://*/Data.SIN_BD.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=SIN_BD;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
		<add name="SIN_BDEntities2" connectionString="metadata=res://*/SINDB.csdl|res://*/SINDB.ssdl|res://*/SINDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.96.102;initial catalog=SIN_BD;persist security info=True;user id=MFNET;password=MFNET;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
		<add name="SIN_BDEntities2" connectionString="metadata=res://*/SINDB.csdl|res://*/SINDB.ssdl|res://*/SINDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.96.102;initial catalog=SIN_BD;persist security info=True;user id=MFNET;password=MFNET;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
	</connectionStrings>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
		</providers>
	</entityFramework>
</configuration>
